annotated-types==0.7.0
cachetools==5.5.2
click==8.2.1
fastapi==0.115.13
google-auth==2.40.3
google-auth-oauthlib==1.2.2
gspread==6.2.1
httptools==0.6.4
oauthlib==3.3.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.7
pydantic_core==2.33.2
python-dotenv==1.1.1
python-multipart==0.0.20
requests-oauthlib==2.0.0
rsa==4.9.1
starlette==0.46.2
typing-inspection==0.4.1
uvicorn==0.34.3
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
