aiofiles==24.1.0
annotated-types==0.7.0
click==8.2.1
distro==1.9.0
fastapi==0.115.12
httptools==0.6.4
jiter==0.10.0
markdown2==2.5.3
openai==1.82.1
pdfkit==1.0.0
pillow==11.2.1
pydantic==2.11.5
pydantic_core==2.33.2
python-dotenv==1.1.0
python-multipart==0.0.20
starlette==0.46.2
svgwrite==1.4.3
tqdm==4.67.1
Tree==0.2.4
typing-inspection==0.4.1
uvicorn==0.34.3
uvloop==0.21.0
watchdog==6.0.0
watchfiles==1.0.5
websockets==15.0.1
